# Desafio 2 (Semana 03)

## Objetivos:

    - Analisar a pontuação de crédito de cada cliente por estado;
    - Identificar os valores da média, da mediana, da moda e do desvio padrão da pontuação de crédito;
    - Submeter os valorese cada estado identificado em um arquivo JSON nomeado de "submission.json".
    

### Descrição dos dados:

    - 'id': Identificador do cliente
    - 'sobrenome': Sobrenome do cliente
    - 'pontuacao_credito': Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente)
    - 'estado_residencia': Estado de residência do cliente
    - 'genero': Gênero do cliente
    - 'nivel_estabilidade': Nível de estabilidade do cliente
    - 'saldo_conta': Saldo disponível na conta do cliente
    - 'numero_produtos': Número de produtos que o cliente consome
    - 'possui_cartao_de_credito': Possui um cartão de crédito cadastrado
    - 'membro_ativo': Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

- **Importando as bibliotecas:**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

- **Lendo o arquivo CSV:**

In [2]:
credito_df = pd.read_csv('desafio1.csv')
credito_df.head(10)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
5,6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
6,7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
7,8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
8,9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
9,10,f110be36fc6171a7da472b9cbac8698df880aac6,b89d09fc7719cb3c4a87e4a61cb87b3465e9d8ff,684,SC,M,27,2,134603.88,1,1,1

In [3]:
credito_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [4]:
credito_df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

### Identificando a Moda

In [5]:
#credito_df.groupby('estado_residencia')['pontuacao_credito'].mode()

In [6]:
import scipy
from scipy import stats
x = credito_df['pontuacao_credito']
credito_df.groupby('estado_residencia').agg(lambda x: scipy.stats.mode(x)[0])

,RowNumber,id,sobrenome,pontuacao_credito,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
estado_residencia,,,,,,,,,,,
PR,8,004b96cebe8764616da04fc877236d6fefa5f68e,7347fd3b86c52be283f3ca0bb60ae91abe5f3069,850,M,37,9,130170.82,1,1,0
RS,2,002ba5177a58900b2ea321f708de21dd59645dd7,2ad0c93dcf651c0afe5e5aa7a8778f7c3ec5769e,850,M,35,8,0.00,1,1,1
SC,1,001acea53bf2dba35bef7e61ca2ead7792aab9c1,96bcf8c98f94b6ace4a4b716cf0e3b32743a08b1,850,M,37,7,0.00,1,1,1

In [7]:
SC_credito = credito_df.query('estado_residencia == "SC"')
mode_SC = int(SC_credito.pontuacao_credito.mode())
mode_SC

850

In [8]:
RS_credito = credito_df.query('estado_residencia == "RS"')
mode_RS = int(RS_credito.pontuacao_credito.mode())
mode_RS

850

In [9]:
PR_credito = credito_df.query('estado_residencia == "PR"')
mode_PR = int(PR_credito.pontuacao_credito.mode())
mode_PR

850

### Identificando a Mediana

In [10]:
Mediana = credito_df.groupby('estado_residencia')['pontuacao_credito'].median()
Mediana

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [11]:
type(Mediana)

pandas.core.series.Series

In [12]:
Mediana[1]

650

### Identificando a Média

In [13]:
Media = credito_df.groupby('estado_residencia')['pontuacao_credito'].mean()
Media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

### Identificando o Desvio Padrão

In [14]:
D_Padrao = credito_df.groupby('estado_residencia')['pontuacao_credito'].std()
D_Padrao

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

### Atribuindo os valores ao arquivo JSON

In [15]:
#Sub_Json = pd.read_json('submission.json')
#Sub_Json

#Sub_Json = {'SC': {'moda':mode_SC, 'mediana':Mediana[0], 'media':Media[0].round(1), 'desvio_padrao':D_Padrao[0].round(1)}, 
#           'RS': {'moda':mode_RS, 'mediana':Mediana[1], 'media':Media[1].round(1), 'desvio_padrao':D_Padrao[1].round(1)}, 
#           'PR': {'moda':mode_PR, 'mediana':Mediana[2], 'media':Media[2].round(1), 'desvio_padrao':D_Padrao[2].round(1)}}
#Sub_Json

In [16]:
Sub_Json = {'SC': {'moda':mode_SC, 'mediana':Mediana[0], 'media':Media[0], 'desvio_padrao':D_Padrao[0]}, 
            'RS': {'moda':mode_RS, 'mediana':Mediana[1], 'media':Media[1], 'desvio_padrao':D_Padrao[1]}, 
            'PR': {'moda':mode_PR, 'mediana':Mediana[2], 'media':Media[2], 'desvio_padrao':D_Padrao[2]}}
Sub_Json

{'SC': {'moda': 850,
  'mediana': 650,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755},
 'RS': {'moda': 850,
  'mediana': 650,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850,
  'mediana': 653,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314}}

In [17]:
type(Sub_Json)

dict

In [18]:
Json_DF = pd.DataFrame(Sub_Json)
Json_DF

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        650.000000  650.000000  653.000000
media          648.961294  651.105143  649.537653
desvio_padrao   98.607186   95.136598   97.233493

In [27]:
G = Json_DF.T

In [28]:
subimission_JSON = G.to_json('submission.json', orient='index')

In [20]:
#import json
#with open('submission.json', 'w') as outfile:
  #  json.dump(Sub_Json, outfile)

In [21]:
#SJ = pd.read_json('submission2.json')
#SJ

In [22]:
#SJ.T

In [23]:
#JSubm = Json_DF.round(decimals=1)
#JSubm

#Json_DF['SC'][0]

In [24]:
"""Sub_Json['SC'][0] = mode_SC
Sub_Json['RS'][0] = mode_RS
Sub_Json['PR'][0] = mode_PR
Sub_Json['PR'][1] = Mediana[0]
Sub_Json['RS'][1] = Mediana[1]
Sub_Json['SC'][1] = Mediana[2]
Sub_Json['PR'][2] = Media[0]
Sub_Json['RS'][2] = Media[1]
Sub_Json['SC'][2] = Media[2]
Sub_Json['PR'][3] = D_Padrao[0]
Sub_Json['RS'][3] = D_Padrao[1]
Sub_Json['SC'][3] = D_Padrao[2]
Sub_Json"""

"Sub_Json['SC'][0] = mode_SC\nSub_Json['RS'][0] = mode_RS\nSub_Json['PR'][0] = mode_PR\nSub_Json['PR'][1] = Mediana[0]\nSub_Json['RS'][1] = Mediana[1]\nSub_Json['SC'][1] = Mediana[2]\nSub_Json['PR'][2] = Media[0]\nSub_Json['RS'][2] = Media[1]\nSub_Json['SC'][2] = Media[2]\nSub_Json['PR'][3] = D_Padrao[0]\nSub_Json['RS'][3] = D_Padrao[1]\nSub_Json['SC'][3] = D_Padrao[2]\nSub_Json"

In [25]:
"""Sub_Json['SC'] = Sub_Json['SC'].astype(float)
Sub_Json['RS'] = Sub_Json['RS'].astype(float)
Sub_Json['PR'] = Sub_Json['PR'].astype(float)
Sub_Json"""

"Sub_Json['SC'] = Sub_Json['SC'].astype(float)\nSub_Json['RS'] = Sub_Json['RS'].astype(float)\nSub_Json['PR'] = Sub_Json['PR'].astype(float)\nSub_Json"